body {
  background-color: #E1DCC9;
}

.app {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;

}

#navbar {
  padding: 20px;
  margin-bottom: 20px;

}

#navbar h1{
  margin: 0;
  text-align: center;
  font-weight: bold;

}

.grid-maker {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
}

.element {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 10px;
  text-align: center;
}